# Exercise: Exploratory Data Analysis with Pandas
## Instructions
1. Data Collection
    - Search and collect data on the following: (1993 - 2023)
        - Israel interest tares
        - US interest rates
        - USD to ILS exchange rates
    - For each dataset, create a pandas DataFrame with the following columns:
        - Year
        - Month
        - Current_Rate (Interest rate or exchange rate for that month)
        - Change_From_Last_Month (Difference in Current_Rate from the previous month)
        - Optional: You may include additional columns if you find them useful (e.g., Change_Percentage, Date).

In [68]:
import pandas as pd

df_isr = pd.read_csv('./data/BR_israel_interest.csv',index_col=0) #load data
df_isr.head()

,שם סדרה,FREQ,תדירות,IR_FV_TYPE,סוג ריבית,DATA_SOURCE,מקור נתונים,TIME_COLLECT,אופן חישוב בתקופת זמן,CONF_STATUS,...,PUB_WEBSITE,פרסום באתר,UNIT_MEASURE,יחידות מידה,UNIT_MULT,מכפיל יחידות,TIME_PERIOD,OBS_VALUE,RELEASE_STATUS,שחרור תצפית
SERIES_CODE,,,,,,,,,,,,,,,,,,,,,
MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,...,Y,כן,PT,אחוזים,0,יחידות,1994-01-27,10.5,YP,תצפית משוחררת לציבור ופנימית ( Public)
MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,...,Y,כן,PT,אחוזים,0,יחידות,1994-01-28,10.5,YP,תצפית משוחררת לציבור ופנימית ( Public)
MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,...,Y,כן,PT,אחוזים,0,יחידות,1994-01-29,10.5,YP,תצפית משוחררת לציבור ופנימית ( Public)
MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,...,Y,כן,PT,אחוזים,0,יחידות,1994-01-30,10.5,YP,תצפית משוחררת לציבור ופנימית ( Public)
MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,...,Y,כן,PT,אחוזים,0,יחידות,1994-01-31,10.5,YP,תצפית משוחררת לציבור ופנימית ( Public)

In [20]:
df_isr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10931 entries, MNT_RIB_BOI_D to MNT_RIB_BOI_D
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   שם סדרה                10931 non-null  object
 1   FREQ                   10931 non-null  object
 2   תדירות                 10931 non-null  object
 3   IR_FV_TYPE             10931 non-null  object
 4   סוג ריבית              10931 non-null  object
 5   DATA_SOURCE            10931 non-null  object
 6   מקור נתונים            10931 non-null  object
 7   TIME_COLLECT           10931 non-null  object
 8   אופן חישוב בתקופת זמן  10931 non-null  object
 9   CONF_STATUS            10931 non-null  object
 10  סיווג סודיות           10931 non-null  object
 11  PUB_WEBSITE            10931 non-null  object
 12  פרסום באתר             10931 non-null  object
 13  UNIT_MEASURE           10931 non-null  object
 14  יחידות מידה            10931 non-null  object
 15  UNIT_MULT              10931 non-null  int64
 16  מכפיל יחידות           10931 non-null  object
 17  TIME_PERIOD            10931 non-null  object
 18  OBS_VALUE              10931 non-null  float64
 19  RELEASE_STATUS         10931 non-null  object
 20  שחרור תצפית            10931 non-null  object
dtypes: float64(1), int64(1), object(19)
memory usage: 1.8+ MB

In [21]:
df_isr.columns

Index(['שם סדרה', 'FREQ', 'תדירות', 'IR_FV_TYPE', 'סוג ריבית', 'DATA_SOURCE',
       'מקור נתונים', 'TIME_COLLECT', 'אופן חישוב בתקופת זמן', 'CONF_STATUS',
       'סיווג סודיות', 'PUB_WEBSITE', 'פרסום באתר', 'UNIT_MEASURE',
       'יחידות מידה', 'UNIT_MULT', 'מכפיל יחידות', 'TIME_PERIOD', 'OBS_VALUE',
       'RELEASE_STATUS', 'שחרור תצפית'],
      dtype='object')

In [41]:
df_isr.TIME_PERIOD.isnull().sum()

0

In [23]:
df_isr.OBS_VALUE.isnull().sum()

0

In [42]:
df_isr.duplicated('TIME_PERIOD').sum()

0

In [30]:
df_isr.TIME_PERIOD == 'False'

SERIES_CODE
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
                 ...
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
Name: TIME_PERIOD, Length: 10931, dtype: bool

In [29]:
df_isr.TIME_PERIOD == '%/25%'

SERIES_CODE
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
                 ...
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D    False
Name: TIME_PERIOD, Length: 10931, dtype: bool

In [69]:
df_isr['TIME_PERIOD'] = pd.to_datetime(df_isr['TIME_PERIOD'], errors='coerce')

df_isr['TIME_PERIOD']

SERIES_CODE
MNT_RIB_BOI_D   1994-01-27
MNT_RIB_BOI_D   1994-01-28
MNT_RIB_BOI_D   1994-01-29
MNT_RIB_BOI_D   1994-01-30
MNT_RIB_BOI_D   1994-01-31
                   ...
MNT_RIB_BOI_D   2023-12-27
MNT_RIB_BOI_D   2023-12-28
MNT_RIB_BOI_D   2023-12-29
MNT_RIB_BOI_D   2023-12-30
MNT_RIB_BOI_D   2023-12-31
Name: TIME_PERIOD, Length: 10931, dtype: datetime64[ns]

In [71]:
df_isr['OBS_VALUE'] = pd.to_numeric(df_isr['OBS_VALUE'], errors='coerce')
df_isr['OBS_VALUE']

SERIES_CODE
MNT_RIB_BOI_D    10.50
MNT_RIB_BOI_D    10.50
MNT_RIB_BOI_D    10.50
MNT_RIB_BOI_D    10.50
MNT_RIB_BOI_D    10.50
                 ...
MNT_RIB_BOI_D     4.75
MNT_RIB_BOI_D     4.75
MNT_RIB_BOI_D     4.75
MNT_RIB_BOI_D     4.75
MNT_RIB_BOI_D     4.75
Name: OBS_VALUE, Length: 10931, dtype: float64

In [72]:
df_isr['Year']  = df_isr['TIME_PERIOD'].dt.year

df_isr['Month'] = df_isr['TIME_PERIOD'].dt.month
print(df_isr.Year)
print(df_isr.Month)

SERIES_CODE
MNT_RIB_BOI_D    1994
MNT_RIB_BOI_D    1994
MNT_RIB_BOI_D    1994
MNT_RIB_BOI_D    1994
MNT_RIB_BOI_D    1994
                 ...
MNT_RIB_BOI_D    2023
MNT_RIB_BOI_D    2023
MNT_RIB_BOI_D    2023
MNT_RIB_BOI_D    2023
MNT_RIB_BOI_D    2023
Name: Year, Length: 10931, dtype: int32
SERIES_CODE
MNT_RIB_BOI_D     1
MNT_RIB_BOI_D     1
MNT_RIB_BOI_D     1
MNT_RIB_BOI_D     1
MNT_RIB_BOI_D     1
                 ..
MNT_RIB_BOI_D    12
MNT_RIB_BOI_D    12
MNT_RIB_BOI_D    12
MNT_RIB_BOI_D    12
MNT_RIB_BOI_D    12
Name: Month, Length: 10931, dtype: int32

In [76]:
df_isr['Current_Rate'] = df_isr['OBS_VALUE']
print(df_isr.Current_Rate)

SERIES_CODE
MNT_RIB_BOI_D    10.50
MNT_RIB_BOI_D    10.50
MNT_RIB_BOI_D    10.50
MNT_RIB_BOI_D    10.50
MNT_RIB_BOI_D    10.50
                 ...
MNT_RIB_BOI_D     4.75
MNT_RIB_BOI_D     4.75
MNT_RIB_BOI_D     4.75
MNT_RIB_BOI_D     4.75
MNT_RIB_BOI_D     4.75
Name: Current_Rate, Length: 10931, dtype: float64

In [77]:
df_isr = df_isr[['Year', 'Month', 'Current_Rate']]
df_isr.head()

               Year  Month  Current_Rate
SERIES_CODE
MNT_RIB_BOI_D  1994      1          10.5
MNT_RIB_BOI_D  1994      1          10.5
MNT_RIB_BOI_D  1994      1          10.5
MNT_RIB_BOI_D  1994      1          10.5
MNT_RIB_BOI_D  1994      1          10.5

In [66]:
df_isr.duplicated()

SERIES_CODE
MNT_RIB_BOI_D    False
MNT_RIB_BOI_D     True
MNT_RIB_BOI_D     True
MNT_RIB_BOI_D     True
MNT_RIB_BOI_D     True
                 ...
MNT_RIB_BOI_D     True
MNT_RIB_BOI_D     True
MNT_RIB_BOI_D     True
MNT_RIB_BOI_D     True
MNT_RIB_BOI_D     True
Length: 10931, dtype: bool

               Year  Month  Current_Rate
SERIES_CODE
MNT_RIB_BOI_D  1994      1          10.5
MNT_RIB_BOI_D  1994      2          10.5
MNT_RIB_BOI_D  1994      3          10.5
MNT_RIB_BOI_D  1994      4          10.5
MNT_RIB_BOI_D  1994      5          10.5
MNT_RIB_BOI_D  1994      6          11.5
MNT_RIB_BOI_D  1994      7          12.0
MNT_RIB_BOI_D  1994      8          12.5
MNT_RIB_BOI_D  1994      9          14.0
MNT_RIB_BOI_D  1994     10          15.5
MNT_RIB_BOI_D  1994     11          15.5
MNT_RIB_BOI_D  1994     12          17.0

In [81]:
df_isr.drop_duplicates(subset=['Month', 'Year'], keep='last', inplace=True)
df_isr

C:\Users\shalo\AppData\Local\Temp\ipykernel_30260\2198405317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_isr.drop_duplicates(subset=['Month', 'Year'], keep='last', inplace=True)

               Year  Month  Current_Rate
SERIES_CODE
MNT_RIB_BOI_D  1994      1         10.50
MNT_RIB_BOI_D  1994      2         10.50
MNT_RIB_BOI_D  1994      3         10.50
MNT_RIB_BOI_D  1994      4         10.50
MNT_RIB_BOI_D  1994      5         11.50
...             ...    ...           ...
MNT_RIB_BOI_D  2023      8          4.75
MNT_RIB_BOI_D  2023      9          4.75
MNT_RIB_BOI_D  2023     10          4.75
MNT_RIB_BOI_D  2023     11          4.75
MNT_RIB_BOI_D  2023     12          4.75

[360 rows x 3 columns]

In [82]:

df_isr

               Year  Month  Current_Rate
SERIES_CODE
MNT_RIB_BOI_D  1994      1         10.50
MNT_RIB_BOI_D  1994      2         10.50
MNT_RIB_BOI_D  1994      3         10.50
MNT_RIB_BOI_D  1994      4         10.50
MNT_RIB_BOI_D  1994      5         11.50
...             ...    ...           ...
MNT_RIB_BOI_D  2023      8          4.75
MNT_RIB_BOI_D  2023      9          4.75
MNT_RIB_BOI_D  2023     10          4.75
MNT_RIB_BOI_D  2023     11          4.75
MNT_RIB_BOI_D  2023     12          4.75

[360 rows x 3 columns]

In [84]:
df_isr['Change_From_Last_Month'] = df_isr['Current_Rate'] - df_isr['Current_Rate'].shift(1)
df_isr['Change_From_Last_Month']

C:\Users\shalo\AppData\Local\Temp\ipykernel_30260\288317149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_isr['Change_From_Last_Month'] = df_isr['Current_Rate'] - df_isr['Current_Rate'].shift(1)

SERIES_CODE
MNT_RIB_BOI_D    NaN
MNT_RIB_BOI_D    0.0
MNT_RIB_BOI_D    0.0
MNT_RIB_BOI_D    0.0
MNT_RIB_BOI_D    1.0
                ...
MNT_RIB_BOI_D    0.0
MNT_RIB_BOI_D    0.0
MNT_RIB_BOI_D    0.0
MNT_RIB_BOI_D    0.0
MNT_RIB_BOI_D    0.0
Name: Change_From_Last_Month, Length: 360, dtype: float64

In [85]:
df_isr

               Year  Month  Current_Rate  Change_From_Last_Month
SERIES_CODE
MNT_RIB_BOI_D  1994      1         10.50                     NaN
MNT_RIB_BOI_D  1994      2         10.50                     0.0
MNT_RIB_BOI_D  1994      3         10.50                     0.0
MNT_RIB_BOI_D  1994      4         10.50                     0.0
MNT_RIB_BOI_D  1994      5         11.50                     1.0
...             ...    ...           ...                     ...
MNT_RIB_BOI_D  2023      8          4.75                     0.0
MNT_RIB_BOI_D  2023      9          4.75                     0.0
MNT_RIB_BOI_D  2023     10          4.75                     0.0
MNT_RIB_BOI_D  2023     11          4.75                     0.0
MNT_RIB_BOI_D  2023     12          4.75                     0.0

[360 rows x 4 columns]

In [109]:
df_us = pd.read_csv('./data/FEDFUNDS.csv',index_col=0,sep=',')
df_us

            FEDFUNDS
DATE
1993-07-01      3.06
1993-08-01      3.03
1993-09-01      3.09
1993-10-01      2.99
1993-11-01      3.02
...              ...
2023-06-01      5.08
2023-07-01      5.12
2023-08-01      5.33
2023-09-01      5.33
2023-10-01      5.33

[364 rows x 1 columns]

In [110]:
df_us.columns

Index(['FEDFUNDS'], dtype='object')

In [111]:
df_us = df_us.reset_index()
df_us

           DATE  FEDFUNDS
0    1993-07-01      3.06
1    1993-08-01      3.03
2    1993-09-01      3.09
3    1993-10-01      2.99
4    1993-11-01      3.02
..          ...       ...
359  2023-06-01      5.08
360  2023-07-01      5.12
361  2023-08-01      5.33
362  2023-09-01      5.33
363  2023-10-01      5.33

[364 rows x 2 columns]

In [113]:
df_us['DATE'] = pd.to_datetime(df_us['DATE'], errors='coerce')
df_us

          DATE  FEDFUNDS
0   1993-07-01      3.06
1   1993-08-01      3.03
2   1993-09-01      3.09
3   1993-10-01      2.99
4   1993-11-01      3.02
..         ...       ...
359 2023-06-01      5.08
360 2023-07-01      5.12
361 2023-08-01      5.33
362 2023-09-01      5.33
363 2023-10-01      5.33

[364 rows x 2 columns]

In [114]:
df_us['Year']  = df_us['DATE'].dt.year

df_us['Month'] = df_us['DATE'].dt.month
df_us

          DATE  FEDFUNDS  Year  Month
0   1993-07-01      3.06  1993      7
1   1993-08-01      3.03  1993      8
2   1993-09-01      3.09  1993      9
3   1993-10-01      2.99  1993     10
4   1993-11-01      3.02  1993     11
..         ...       ...   ...    ...
359 2023-06-01      5.08  2023      6
360 2023-07-01      5.12  2023      7
361 2023-08-01      5.33  2023      8
362 2023-09-01      5.33  2023      9
363 2023-10-01      5.33  2023     10

[364 rows x 4 columns]

In [115]:
df_us['Current_Rate'] = df_us['FEDFUNDS']
print(df_us.Current_Rate)

0      3.06
1      3.03
2      3.09
3      2.99
4      3.02
       ...
359    5.08
360    5.12
361    5.33
362    5.33
363    5.33
Name: Current_Rate, Length: 364, dtype: float64

In [116]:
df_us = df_us[['Year', 'Month', 'Current_Rate']]
df_us.head()

   Year  Month  Current_Rate
0  1993      7          3.06
1  1993      8          3.03
2  1993      9          3.09
3  1993     10          2.99
4  1993     11          3.02

In [117]:
df_us.drop_duplicates(subset=['Month', 'Year'], keep='last', inplace=True)
df_us

C:\Users\shalo\AppData\Local\Temp\ipykernel_30260\3147940650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us.drop_duplicates(subset=['Month', 'Year'], keep='last', inplace=True)

     Year  Month  Current_Rate
0    1993      7          3.06
1    1993      8          3.03
2    1993      9          3.09
3    1993     10          2.99
4    1993     11          3.02
..    ...    ...           ...
359  2023      6          5.08
360  2023      7          5.12
361  2023      8          5.33
362  2023      9          5.33
363  2023     10          5.33

[364 rows x 3 columns]

In [118]:
df_us['Change_From_Last_Month'] = df_us['Current_Rate'] - df_us['Current_Rate'].shift(1)
df_us

C:\Users\shalo\AppData\Local\Temp\ipykernel_30260\1404678418.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us['Change_From_Last_Month'] = df_us['Current_Rate'] - df_us['Current_Rate'].shift(1)

     Year  Month  Current_Rate  Change_From_Last_Month
0    1993      7          3.06                     NaN
1    1993      8          3.03                   -0.03
2    1993      9          3.09                    0.06
3    1993     10          2.99                   -0.10
4    1993     11          3.02                    0.03
..    ...    ...           ...                     ...
359  2023      6          5.08                    0.02
360  2023      7          5.12                    0.04
361  2023      8          5.33                    0.21
362  2023      9          5.33                    0.00
363  2023     10          5.33                    0.00

[364 rows x 4 columns]

    ## Part A: Single DataFrame Analysis 
1. Display the first 5 rows of the US interest rates DataFrame.

2. Calculate the average Israeli interest rate over the period covered by your data.

3. Find the month and year when the USD to ILS exchange rate had the highest increase from the previous month.

4. Determine the total number of months where the US interest rate decreased compared to the previous month.

5. Add a new column to the Israeli interest rates DataFrame called Change_Percentage, representing the percentage change from the previous month.

In [119]:
# A - 1
# your code here
df_us.head(5)

   Year  Month  Current_Rate  Change_From_Last_Month
0  1993      7          3.06                     NaN
1  1993      8          3.03                   -0.03
2  1993      9          3.09                    0.06
3  1993     10          2.99                   -0.10
4  1993     11          3.02                    0.03

In [120]:
# A - 2
# your code here
avg_isr = df_isr['Current_Rate'].mean()
print(avg_isr)

4.879444444444445

In [8]:
# A - 3
# your code here

In [121]:
# A - 4
# your code here
sum_month_mines_us = (df_us['Change_From_Last_Month'] < 0).sum()
print(sum_month_mines_us)

122

In [125]:
# A - 5
# your code here
df_isr['Change_Percentage'] = (df_isr['Change_From_Last_Month'] / df_isr['Current_Rate'].shift(1))
df_isr

,Year,Month,Current_Rate,Change_From_Last_Month,Change_Percentage
SERIES_CODE,,,,,
MNT_RIB_BOI_D,1994,1,10.50,NaN,NaN
MNT_RIB_BOI_D,1994,2,10.50,0.0,0.000000
MNT_RIB_BOI_D,1994,3,10.50,0.0,0.000000
MNT_RIB_BOI_D,1994,4,10.50,0.0,0.000000
MNT_RIB_BOI_D,1994,5,11.50,1.0,0.095238
...,...,...,...,...,...
MNT_RIB_BOI_D,2023,8,4.75,0.0,0.000000
MNT_RIB_BOI_D,2023,9,4.75,0.0,0.000000
MNT_RIB_BOI_D,2023,10,4.75,0.0,0.000000
MNT_RIB_BOI_D,2023,11,4.75,0.0,0.000000
MNT_RIB_BOI_D,2023,12,4.75,0.0,0.000000

## Part B: Merging DataFrames
1. Merge the US and Israeli interest rates DataFrames on Year and Month.

2. In the merged DataFrame, create a new column Rate_Difference that shows the difference between the Israeli and US interest rates for each month.

3. Identify all months when the Israeli interest rate was at least 1% higher than the US interest rate - IH (Israeli Higher).
Identify all months when the US interest rate was at least 1% higher than the Israeli interest rate - UH (US Higher).
Identify all months when the interest rates were within 1% of each other - N (Near)
make a new column called Rate_Comparison with the following values: IH, UH, or N.

4. Merge the exchange rate DataFrame with the merged interest rates DataFrame.

5. After merging all three DataFrames, find the correlation between the Rate_Difference and the Current_Rate of the exchange rate.
hint: find the connection between the difference in interest rates and the exchange rates, use any method you think is appropriate.
provide an explanation of the results (in Hebrew) - at least 2 rows of text + a proof of the connection(some output) you found.

In [128]:
# B - 1
# your code here

merged_df = pd.merge(df_us, df_isr, on=['Year', 'Month'], suffixes=('_us', '_isr'))

print(merged_df.head())

   Year  Month  Current_Rate_us  Change_From_Last_Month_us  Current_Rate_isr  \
0  1994      1             3.05                       0.09              10.5
1  1994      2             3.25                       0.20              10.5
2  1994      3             3.34                       0.09              10.5
3  1994      4             3.56                       0.22              10.5
4  1994      5             4.01                       0.45              11.5

   Change_From_Last_Month_isr  Change_Percentage
0                         NaN                NaN
1                         0.0           0.000000
2                         0.0           0.000000
3                         0.0           0.000000
4                         1.0           0.095238

In [127]:
# B - 2
# your code here
merged_df['Rate_Difference'] = merged_df['Current_Rate_ISR'] - merged_df['Current_Rate_US']
print(merged_df.head())

   Year  Month  Current_Rate_US  Change_From_Last_Month_US  Current_Rate_ISR  \
0  1994      1             3.05                       0.09              10.5
1  1994      2             3.25                       0.20              10.5
2  1994      3             3.34                       0.09              10.5
3  1994      4             3.56                       0.22              10.5
4  1994      5             4.01                       0.45              11.5

   Change_From_Last_Month_ISR  Change_Percentage  Rate_Difference
0                         NaN                NaN             7.45
1                         0.0           0.000000             7.25
2                         0.0           0.000000             7.16
3                         0.0           0.000000             6.94
4                         1.0           0.095238             7.49

In [3]:
# B - 3
# your code here

In [4]:
# B - 4
# your code here

In [6]:
# B - 5
# your code here

## Part C: Analyzing Relationships Between DataFrames
1. Analyze whether increases in US interest rates are associated with increases or decreases in the USD to ILS exchange rate in the same month.

2. Determine if changes in the Israeli interest rate have a stronger impact on the exchange rate than changes in the US interest rate.

3. Find any time lags in the effect of interest rate changes on the exchange rate. For example, does a change in US interest rates affect the exchange rate in the following month?
(כלומר- האם כשיש שינוי בריבית כלשהי - האם מייד יש שינוי בשער ההמרה? או שיש דיליי של חודש/חודשים עד שמרגישים את ההשפעה - אם בכלל?)

4. Calculate the rolling past 3-month average of the exchange rate for each data time, and add it as a new column.

5. Identify any periods where both US and Israeli interest rates were decreasing, and analyze how the exchange rate behaved during those periods.

In [ ]:
# Bonus

# Bonus
choose 3 global / local events or periods that you think could have affected the exchange rate or interest rates
and analyze the effect of these events on the data you collected.
show proof of your analysis that supports your claim.

(כלומר- תבחנו אירועים שקרו בתקופה שאתם עובדים עליה ובדקו איך הם השפיעו על הנתונים שאתם עובדים איתם)
למשל: בחירות בארה״ב, בחירות בישראל, רוסיה אוקראינה, מלחמות בישראל וכו׳.

In [ ]:
# Your code here